.budget-container {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

.add-container {
    max-width: 28%;
}

.categories-container {
    flex-grow: 1;
    padding-right: 30px;
    margin-left: 25px;
}