.categories{
    padding: 10px;
    margin: 10px;
    border: 1px solid #C3C3C3;
    width: 100%;
}

.categories-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.categories-title{
    font-family: "Barlow", sans-serif;
    font-size: 1.6em;
    font-weight: bolder;
}
