.transaction{
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 1em;
    border-radius: 5px;
    margin: 5px;
    height: 30px;
}

.transaction:nth-child(even){
    background-color: #3C3C3C;
    color: white;
}

.transaction:nth-child(odd){
    background-color: #DEF2F2;
    color: black;
}

.transactionDescription{
    justify-self: start;
    text-align: left;
    width: 50%;
    padding-top: 2px;
}

.transactionDate{
    width: 100px;
    margin-left: 10px;
    margin-right: 15px;
}

.transactionAmount{
    width: 50px;
    margin-left: 10px;
    margin-right: 15px;
}